@media (max-width: 370px) {
    .add__btn-text.active {
        font-size: 14px;
        margin-left: 30px;
    }
}

@media (max-width: 330px) {
    .add__btn-text.active {
        font-size: 13px;
        margin-left: 25px;
    }
}